<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unisannio.greenbusapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_greenbus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_greenbus"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityApplication"
        android:usesCleartextTraffic="true">
        <activity android:name="it.unisannio.greenbusapplication.StartActivity"><intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="it.unisannio.greenbusapplication.LoginActivity"/>
        <activity android:name="it.unisannio.greenbusapplication.SignInActivity"/>
        <activity android:name="it.unisannio.greenbusapplication.UserMapActivity"/>
        <activity android:name="it.unisannio.greenbusapplication.DriverMapActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>